@import "../../styles/variables";

.hero {
  text-align: center;
  padding: 2rem;
  font-family: $font-stack;

  h1 {
    color: $text-color;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: lighten($text-color, 20%);
    margin-bottom: 2rem;
  }
}