@import "../../styles/variables";


.footer {
  color: #ffffff;
  padding: 2.5rem 1rem;
  font-family: 'Arial', sans-serif;
  text-align: center;

  .footerContent {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .brandInfo {
    margin-bottom: 1rem;

    .logo {
      width: 100%;
      height: auto;
      margin: 0 auto;
      max-width: 160px;
    }
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;

    p {
      margin: 0.5rem 0;
      line-height: 1.6;

      strong {
        font-weight: 600;
      }
    }

    span {

      display: flex;
      gap: 1em;
    }
  }

  .socialMedia {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .copyright {
    margin-top: 2rem;
    font-size: 0.85rem;
    opacity: 0.8;
  }

  @media (min-width: 768px) {
    padding: 3rem 2rem;

    .footerContent {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    .brandInfo {
      margin-bottom: 0;
      text-align: left;
      flex: 1;
    }

    .contactInfo {
      flex: 1;
    }

    .copyright {
      margin-top: 0;
      flex: 1;
      text-align: right;
    }
  }
}